<% include _header %>

<h1>Sign up</h1>
<hr>
<form action="/signup" method="post">
    <input name="username" type="text" class="form-control" placeholder="Username" required autofocus>
    <input name="password" type="password" class="form-control" placeholder="Password" required>
	<br>
	<p>If you don't confirm your password, will be back this page.</p> 
	<input name="confirmpassword" type="password" class="form-control" placeholder="Confrim Password" required>
	<br>
    <input type="submit" value="Sign up" class="btn btn-default pull-right">
	<a href="/" class="btn btn-default pull-left">Cancel</a>
</form>

<% include _footer %>