<% include _header %>

<h1>Basic information for new Nodvel</h1>
<hr>
<p>Writer : <%= writer %></p>
<form action="/writenodvel" method="post">
	<h4>Title</h4>
	<input name="title" type="taxt" class="form-control" placeholder="Title" required>
	<br>
	<h4>Preview of story</h4>
	<input name="story" type="text" class="form-control" placeholder="Story" required>
	<br>
	<h4>Select main genre</h4>
	<select name="genre" class="selectpicker" style="width: 400px; height: 40px; line-height: 40px;" required>
		<option value="Romance">Romance</option>
		<option value="Horror">Horror</option>
		<option value="SF">SF</option>
		<option value="Fantasy">Fantasy</option>
		<option value="Historical">Historical</option>
		<option value="Thriller">Thriller</option>
		<option value="General">General</option>
	</select>
	<br>
	<br>
    <input type="submit" value="Next" class="btn btn-primary pull-right">
	<a href="/" class="btn btn-info pull-left">Cancel</a>
</form>

<% include _footer %>
